<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ActivityService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ActivityManager.Services/IActivity/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ActivityService"
                contract="ProxyActivityNS.ActivityService" name="BasicHttpBinding_ActivityService" />
        </client>
    </system.serviceModel>
</configuration>